  <DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8">
      <title>Riccardnie</title>
      <!-- jQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="scripts/common.js"></script>
      <!-- Material Design Lite -->
      <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
      <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      <!-- vex for modal -->
      <script src="libraries/vex.combined.min.js"></script>
      <script>vex.defaultOptions.className = 'vex-theme-flat-attack';</script>
      <link rel="stylesheet" href="libraries/vex.css" />
      <link rel="stylesheet" href="libraries/vex-theme-flat-attack.css" />

      <!-- my stylesheet -->
      <link rel="stylesheet" type="text/css" href="style/style.css">

    </head>
    <body>
      <header id="mainheader">
        <h1>Thank you Sidnie & Riccardo!<h1>
        </header>
        <nav>
          <!-- <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" onclick="location.href='{{menu_entry_1_link}}'">
            <i class="material-icons">add</i>
          </button> -->
          <a href="{{menu_entry_1_link}}">{{ menu_entry_1}}</a>
          {% if login_link %}
          <a href="{{ login_link }}">Login</a>
          {% elif logout_link %}
          <a href="{{ logout_link }}">Logout</a>
          {% endif %}
        </nav>
