
<!-- JavaScript to add mesage to datastore -->
<script src="scripts/form.js"></script>

<!-- Form css -->
<link rel="stylesheet" type="text/css" href="style/form_style.css">

<section id="reviews">
  <article class="review_input_form">
  <div id="thankyou_form">
    <label for="thankyou_post_title">Title:</label>
    <input id="thankyou_post_title" type="text" name="post_title"></input>

    <label for="thankyou_icon_link">Your Icon Link: (Picture of you or representing you)</label>
    <input id="thankyou_icon_link" type="text" name="icon_img_link"></input>

    <label for="thankyou_message">Message: (Please sign your name in the message!)</label>
    <textarea id="thankyou_message" name="message"></textarea>

    <label for="thankyou_ricc_link">Image Gift for Riccardo:</label>
    <input id="thankyou_ricc_link" type="text" name="riccardo_img_link"></input>

    <label for="thankyou_ricc_caption">Image Caption for Riccardo's Gift:</label>
    <input id="thankyou_ricc_caption" type="text" name="riccardo_caption"></input>

    <label for="thankyou_sidn_link">Image Gift for Sidney:</label>
    <input id="thankyou_sidn_link" type="text" name="sidney_img_link"></input>

    <label for="thankyou_sidn_caption">Image Caption for Sidney's Gift:</label>
    <input id="thankyou_sidn_caption" type="text" name="sidney_caption"></input>

    <button id="form_submit">Submit</button>
  </div>
  <article>
</section>
